body {
    margin: 0;
    padding: 0;
    height: 130vh;
    width: 100vw;
}

.container{
    height: 100%;
}

.header{
    height: 10%;
    background-image: linear-gradient(90deg, #22d3ee, #818cf8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid #1e3a8a 1px;
}

.right{
    width: 40%;
}

.right ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
}

.name {
    font-size: 2rem;
    font-weight: 900;
}

.home:hover, .menu:hover, .contact:hover{
    border: dashed white 2px;
    color: #facc15;
    font-size: 1.75rem;

}

.main{
    height: 90%;
    background-size: cover;
    background-position: 0%;
    background-image: url(../images/wallpaper.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    width: 85%;
    height: 80%;
    background-color: #c084fc;
    border: solid #581c87 3px;
    border-radius: 5px;
}

.contentContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.homeText {
    font-size: 3rem;
    font-weight: 900;
}

.portrait {
    width: 20rem;
    height: 20rem;
    border: solid black 1px;
    border-radius: 50px;
    background-image: url(../images/spongebob.jpg);
    background-size: cover;
    background-position: center;
}

.foodContainer{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.images{
    height: 210px;
    width: 300px;
    border: purple solid 1px;
}

#images0{
    background-image: url(../images/krabbypatty.jpg);
    background-size: cover;
    background-position: center;
}

#images1{
    background-image: url(../images/pizza.jpg);
    background-size: cover;
    background-position: center;
}

.description{
    font-size: 2rem;
}

.price{
    font-size: 2rem;
    font-weight: 900;
}

.owner{
    height: 15rem;
    width: 15rem;
    border: solid black 1px;
    border-radius: 50px;
    background-image: url(../images/krabs.jpg);
    background-size: cover;
    background-position: center;
}
